name: CI
on:
  push:
    branches: [master]
  schedule:
  - cron: '0 12 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  specs:
    # if: false # uncomment this to only deploy
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
        - { name: ruby, ruby: ruby-3.4, repo: ruby/ruby }
        - { name: jruby, ruby: jruby-head, repo: jruby/jruby }
        - { name: truffleruby, ruby: truffleruby-head, repo: oracle/truffleruby }
    runs-on: ubuntu-latest
    env:
      JRUBY_OPTS: "--dev" # Takes 14min instead of 21min otherwise on JRuby
      # No other implementation-specific options are allowed, we should test with no options, that is with defaults, because that is what users see.
    steps:
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - if: matrix.name != 'ruby'
      id: ruby_revision
      run: echo "sha=$(ruby -e 'puts RUBY_REVISION')" >> $GITHUB_OUTPUT
    - if: matrix.name != 'ruby'
      uses: actions/checkout@v4
      with:
        repository: ${{ matrix.repo }}
        ref: ${{ steps.ruby_revision.outputs.sha }}

    - if: matrix.name == 'ruby'
      uses: actions/checkout@v4
      with:
        repository: ${{ matrix.repo }}

    - name: Remove file on CRuby to test the ruby in PATH
      run: rm spec/default.mspec
      if: matrix.name == 'ruby'

    - run: mkdir ${{ matrix.name }}

    - name: Save RUBY_VERSION
      run: ruby -e 'puts RUBY_VERSION' > ${{ matrix.name }}/RUBY_VERSION

    - name: Set MSPEC
      run: echo "MSPEC=spec/mspec/bin/mspec ci --timeout 60 --target $(which ruby) --marker . --format yaml --output stats.yml" >> $GITHUB_ENV

    - name: language specs
      run: $MSPEC spec/ruby/language
      continue-on-error: true
    - run: mv stats.yml ${{ matrix.name }}/language.yml

    - name: core specs
      run: $MSPEC spec/ruby/core
      continue-on-error: true
    - run: mv stats.yml ${{ matrix.name }}/core.yml

    - name: library specs
      run: $MSPEC spec/ruby/library
      continue-on-error: true
    - run: mv stats.yml ${{ matrix.name }}/library.yml

    - name: security specs
      run: $MSPEC spec/ruby/security
      continue-on-error: true
    - run: mv stats.yml ${{ matrix.name }}/security.yml

    - name: command_line specs
      run: $MSPEC spec/ruby/command_line
      continue-on-error: true
    - run: mv stats.yml ${{ matrix.name }}/command_line.yml

    - name: capi specs
      run: $MSPEC spec/ruby/optional/capi
      continue-on-error: true
      if: matrix.name != 'jruby'
    - run: mv stats.yml ${{ matrix.name }}/capi.yml
      if: matrix.name != 'jruby'

    - uses: actions/checkout@v4
      with:
        ref: master
        path: rubyspec-stats
        fetch-depth: 0
    - run: rm -rf "${{ matrix.name }}"
      working-directory: rubyspec-stats
    - run: cp -R "../${{ matrix.name }}" .
      working-directory: rubyspec-stats
    - name: Commit and push
      working-directory: rubyspec-stats
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add "${{ matrix.name }}"
        git commit -m "Update ${{ matrix.name }} spec results"
        git pull --rebase
        git push

  html:
    needs: [specs] # comment this out to only deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: master
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2

    - run: mkdir site
    - run: ruby analyze_per_file.rb --html ruby/*.yml truffleruby/*.yml jruby/*.yml > site/index.html

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: site

  deploy:
    permissions:
      pages: write
      id-token: write
    needs: [html]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
